@import "../../styles/main.scss";

header {
  padding: 8px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $GRADATION4;
  position: fixed;
  width: 600px;
  max-width: 100%;
  z-index: 1299;

  .brand {
    margin: 0;
    color: $GRADATION1;
    font-family: 'Gloria Hallelujah', cursive;
    white-space: nowrap;
  }

  @include for-phone-only {
    padding: 0 8px;
  }
}
